body
    margin: 0
    height: 100%

.sysInfo
    margin: 0
    padding: 1em
    border: 2px dashed black;
    p:first-child
        text-align: center
        margin: 0

.log
    background: #4d94ff
    border-radius: 5px
    padding: 1em
    margin: 0 auto
    .log-show
        text-align: right

.chat
    display: flex;
    flex-direction: row
    align-items: center
    justify-content: space-around
    // border: 2px solid red
    overflow: visible
    overflow-x: hidden
    flex-grow: 0
    height: 60vh;
    .chat-messages
        flex-grow: 1
        padding: 1vw
    .chat-field
        // background-color: #CC3322
        position: fixed
        min-width: 50vw
        bottom: 0
        left: 10px
        input 
            padding: 0.5em
            width: 80vw
            padding-left: 1em
        .send
            padding: 0.6em
            width: 15vw
            border: 1px solid black
.message-item
    flex-grow: 1
    margin: 0
    padding: 1em
    border-radius: 0.7em

.message-item:nth-child(odd)
       background: #ffcc66


