body
    margin: 0

.sysInfo
    margin: 0
    padding: 1em
    border: 2px dashed black;
    p:first-child
        text-align: center
        margin: 0

.log
    background: #4d94ff
    border-radius: 5px
    padding: 1em
    margin: 1em auto